.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* padding: 4rem; */
  min-height: 100vh;
}
.main h1{
  padding: 10px;
  font-size: 2rem;
  
}
.main p{
  font-size: 22px;
}
.blog_items{
  padding: 8px;
  
}
.main h2{
  margin-top: 20px;
}


.navbar ul{
  display: flex;
  margin: 30px 50px;
}
.navbar ul li{
  margin: 0 30px;
  list-style: none;
  font-weight: bold;
  font-size: 18px;
}
.myimg{
  border-radius: 50%;
}
.btn{
  padding: 5px;
    background-color: lightgrey;
    color: black;
    border: 2px black solid;
    margin: 5px 0;
    font-size: 0.8rem;
    border-radius: 6px;
    cursor: pointer;
}
.btn:hover{
  background-color: black;
  color: white;

}
@media only screen and (max-width: 600px) {
  .navbar ul{
    margin: 30px 24px;
  }
  .navbar ul li{
    margin: 0 10px;
  }
  .myimg{
    width: 200px;
    height: 200px;
  }
  .main h2{
    font-size: 1.1rem;
    margin: 0 5px;
  }
  .main h3{
    font-size: 0.9rem;
  }
  .main p{
    font-size: 0.7rem;
  }


}
